networks:
  internal:
    driver: bridge

services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - internal
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5

  bot:
    build: .
    container_name: telegrambot
    restart: unless-stopped
    command: poetry run python -m app.bot.bot
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - internal

volumes:
  postgres_data:
